/*
   CSS styling for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

body {
    background-color: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-m);
    box-sizing: border-box;
}
